.action-button {
  border-radius: 2px;
  border: none;
  background-color: #3040c4;
  color: #fff;
  width: 160px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
}

@media screen and (min-width: 400px) {
  .hide_desktop {
    display: none;
  }
}

@media screen and (max-width: 399px) {
  .hide_mobile {
    display: none;
  }
}

.order {
  padding: 50px 15px;
  background-color: #f4f5f7;
}
@media screen and (min-width: 400px) {
  .order {
    max-width: 1400px;
    max-height: 441px;
    padding: 73px 0 72px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.order__details {
  max-width: 505px;
}
.order__illustration {
  max-width: 200px;
  margin-left: 45px;
}
@media screen and (min-width: 400px) {
  .order__illustration {
    max-width: 269px;
    margin-right: 121px;
  }
}
.order__title {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.25px;
  color: #2b292d;
  margin-top: 40px;
}
.order__text {
  margin: 0;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 12px;
}
@media screen and (min-width: 400px) {
  .order__form {
    display: flex;
    margin-top: 26px;
  }
}
.order__email {
  margin-top: 40px;
  height: 48px;
  width: 100%;
  background: #ffffff;
  border-radius: 2px;
  border: 1px solid rgba(43, 41, 45, 0.2);
  align-items: center;
  text-align: center;
  line-height: 13px;
}
@media screen and (min-width: 400px) {
  .order__email {
    margin-top: 0;
  }
}
.order__email::placeholder {
  color: #2b292d;
}
.order__button {
  margin-top: 12px;
}
@media screen and (max-width: 399px) {
  .order__button {
    width: 100%;
  }
}
@media screen and (min-width: 400px) {
  .order__button {
    margin-top: 0;
    margin-left: 10px;
    flex-shrink: 0;
  }
}
.order__terms {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(43, 41, 45, 0.6);
}
.order__terms-link {
  color: #3142c6;
}

.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}
.footer__description {
  display: none;
  width: 360px;
  line-height: 26px;
  font-size: 18px;
  margin-top: 26px;
  color: rgba(43, 41, 45, 0.6);
  opacity: 0.6;
}
.footer-navigation {
  margin: 0;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 400px) {
  .footer__description {
    display: block;
  }
  .footer-navigation {
    width: 1140px;
    margin: 0 auto;
    height: 338px;
    display: flex;
    flex-direction: row;
  }
}
.footer-links {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 400px) {
  .footer-links {
    flex-direction: row;
    width: 1140px;
    margin: 0 auto;
    align-items: center;
    height: 50px;
  }
}
.footer__line {
  border-top: 1px solid #2b292d;
  width: 100%;
  opacity: 0.1;
  margin: 0;
  margin-top: 40px;
}
@media screen and (min-width: 400px) {
  .footer__line {
    margin: 0;
  }
}
@media screen and (max-width: 399px) {
  .footer .logo {
    display: none;
  }
}

.about-company {
  margin-top: 44px;
}

.downloads {
  margin: 25px 15px 0 15px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 400px) {
  .downloads {
    margin: 0;
    margin-top: 25px;
    justify-content: left;
  }
}
.downloads__item {
  margin-right: 10px;
}

.additional-navigation {
  margin-left: 15px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 400px) {
  .additional-navigation {
    flex-direction: row;
    margin-top: 60px;
    margin-left: auto;
  }
}
.additional-navigation__column {
  margin-top: 30px;
}
@media screen and (min-width: 400px) {
  .additional-navigation__column {
    margin-top: 0;
    margin-right: 29px;
  }
}

.nav-list {
  width: 265px;
}
.nav-list__title {
  color: #2b292d;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  margin: 0;
}
.nav-list__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: #2b292d;
  opacity: 0.6;
  margin-top: 18px;
}
.nav-list__list-item {
  padding-top: 6px;
}

.terms {
  line-height: 22px;
  font-size: 14px;
  margin-top: 30px;
}
@media screen and (min-width: 400px) {
  .terms {
    line-height: 50px;
    margin-top: 0;
  }
}
.terms__items {
  text-decoration: none;
  color: #2b292d;
  opacity: 0.6;
  margin-right: 22px;
}

.social-links {
  margin-top: 30px;
  margin-bottom: 23px;
}
@media screen and (min-width: 400px) {
  .social-links {
    margin-left: auto;
  }
}
.social-links__item {
  margin-left: 20px;
}
.social-links__item:first-child {
  margin-left: 0;
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 400px) {
  .logo-vertical {
    display: none;
  }
}
.logo-vertical__name {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  color: #2b292d;
  margin-top: 20px;
}
.logo-vertical__description {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
}
.logo-vertical__image {
  width: 60px;
  height: 60px;
}

.header {
  height: 64px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.header__button {
  display: none;
}
.header__menu-button {
  width: 58px;
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.1490196078);
  height: 100%;
  margin-left: auto;
  background: transparent;
}
.header__menu-icon {
  width: 18px;
  height: 13px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png);
  display: inline-block;
}
@media screen and (min-width: 400px) {
  .header {
    width: 1140px;
    height: 62px;
    margin: auto;
    display: flex;
    background-color: #f3c6bd;
  }
  .header__button {
    display: block;
  }
  .header__menu-button {
    display: none;
  }
}

.navigation {
  display: none;
}
@media screen and (min-width: 400px) {
  .navigation {
    display: block;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;
  }
}
.navigation__item_selected {
  font-weight: 700;
}
.navigation__item {
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  margin-right: 50px;
  color: #2b292d;
}
.navigation__item:last-child {
  margin-right: 0;
}
.navigation__arrow {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
  display: inline-block;
  height: 5px;
  width: 8px;
  margin-left: 11px;
  margin-bottom: 2px;
}

.logo {
  display: flex;
}
.logo__description {
  display: none;
}
@media screen and (min-width: 400px) {
  .logo__description {
    font-size: 18px;
    line-height: 25px;
    color: #2b292d;
    opacity: 0.6;
  }
  .logo__image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
  .logo__description {
    display: block;
  }
}
.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo__image {
  width: 48px;
  height: 48px;
  margin-right: 13px;
}
.logo__name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}

.top-section {
  background-color: #f3c6bd;
}
@media screen and (min-width: 400px) {
  .top-section {
    background-color: #f3c6bd;
    padding-top: 39px;
  }
}

.audience {
  background-color: rgba(0, 162, 199, 0.07);
  padding: 50px 15px;
}
@media screen and (min-width: 400px) {
  .audience__content {
    max-width: 555px;
    margin: auto;
  }
}
.audience__title {
  margin: 0;
  margin-top: 58px;
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
  text-align: center;
}
.audience__subtitle {
  margin: 0;
  margin-top: 17px;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.3571428955px;
  text-align: center;
}
@media screen and (min-width: 400px) {
  .audience__subtitle {
    margin-top: 24px;
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.5px;
  }
}
.audience__description {
  margin: 0;
  margin-top: 18px;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
}
@media screen and (min-width: 400px) {
  .audience__description {
    margin-top: 30px;
  }
}
.audience__actions {
  margin-top: 30px;
}
@media screen and (min-width: 400px) {
  .audience__actions {
    margin-top: 34px;
    display: flex;
    justify-content: center;
  }
}
.audience__learn-button {
  margin-top: 11px;
  border-radius: 2px;
  border: none;
  background-color: #fff;
  color: #000000;
  width: 158px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0.00001) 100%
    ),
    #ffffff;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 400px) {
  .audience__learn-button {
    margin-top: 0;
    margin-left: 10px;
  }
}
.audience__buttons {
  margin-top: 40px;
}
@media screen and (min-width: 400px) {
  .audience__buttons {
    margin-top: 111px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.audience__action-button {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 290px;
  border-radius: 8px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0.00001) 100%
    ),
    #ffffff;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  font-weight: 700;
  border: 0;
}
.audience__action-button:first-child {
  margin-top: 0;
}
.audience__action-button:hover {
  cursor: pointer;
  background: #3141c5;
  color: #ffffff;
}
@media screen and (min-width: 400px) {
  .audience__action-button {
    border: 0;
    padding: 0;
    margin-top: 0;
    margin-left: 30px;
    width: 262px;
  }
}
.audience__action-text {
  margin-top: 22px;
}

.headline {
  width: 100%;
}
.headline__content {
  margin: 35px 15px 33px 15px;
}
.headline__banner {
  width: 100%;
  margin-bottom: 36px;
}
.headline__title {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.3125px;
}
.headline__description {
  margin-top: 24px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 34px;
}
.headline__actions {
  margin-top: 30px;
}
.headline__learn-more-btn {
  margin-top: 15px;
  border-radius: 2px;
  border: none;
  background-color: #fff;
  color: #3040c4;
  width: 158px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
}
@media screen and (max-width: 399px) {
  .headline__actions-btn {
    width: 100%;
  }
}
@media screen and (min-width: 400px) {
  .headline {
    max-height: 890px;
    position: relative;
    width: 1140px;
    margin: auto;
    margin-top: 84px;
    display: flex;
    padding-bottom: 77px;
  }
  .headline__title {
    width: 754px;
    height: 165px;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    text-align: left;
    z-index: 1;
    margin: 0;
  }
  .headline__description {
    margin-top: 34px;
    margin-bottom: 0;
    height: 102px;
    width: 456px;
    font-size: 24px;
    line-height: 34px;
    z-index: 1;
  }
  .headline__learn-more-btn {
    margin-top: 0;
    margin-left: 10px;
  }
  .headline__actions {
    margin-top: 58px;
    display: flex;
  }
  .headline__content {
    position: absolute;
    z-index: 1;
    margin: 0;
  }
  .headline__banner {
    position: relative;
    right: -105px;
    top: 0;
    width: 796px;
    height: 448px;
    margin-left: auto;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Work Sans';
  font-size: 16px;
  color: #2b292d;
}

.page {
  width: 100%;
}
@media screen and (min-width: 400px) {
  .page {
    max-width: 1400px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
