.blue-action-button {
  &:hover {
    cursor: pointer;
  }
  border-radius: 2px;
  border: none;
  background-color: #3040c4;
  color: #fff;
  width: 160px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
}
.white-action-button {
  &:hover {
    cursor: pointer;
  }
  margin-top: 15px;
  border-radius: 2px;
  border: none;
  background-color: #fff;
  color: #3040c4;
  width: 158px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
}
.hide_desktop {
  @include for-large-up {
    display: none;
  }
}
.hide_mobile {
  @include for-large-down {
    display: none;
  }
}
