.headline {
  width: 100%;

  &__content {
    margin: 35px 15px 33px 15px;
  }

  &__banner {
    width: 100%;
    margin-bottom: 36px;
  }

  &__title {
    margin-bottom: 0;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -0.3125px;
  }

  &__description {
    margin-top: 24px;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 34px;
  }

  &__actions {
    margin-top: 30px;
    &-button {
      &:nth-child(2) {
        background-color: $white-color;
        color: $blue-color;
        margin-left: 5px;
      }
    }
  }

  @include for-large-down {
    &__actions-button {
      width: 100%;

      margin-bottom: 15px;
      &:nth-child(2) {
        margin-left: 0;
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }

  @include for-large-up {
    max-height: 890px;
    position: relative;
    width: 1140px;
    margin: auto;
    margin-top: 84px;
    display: flex;
    padding-bottom: 77px;

    &__title {
      width: 754px;
      height: 165px;
      font-size: 80px;
      line-height: 78px;
      letter-spacing: -0.5px;
      text-align: left;
      z-index: 1;
      margin: 0;
    }

    &__description {
      margin-top: 34px;
      margin-bottom: 0;
      height: 102px;
      width: 456px;
      font-size: 24px;
      line-height: 34px;
      z-index: 1;
    }

    &__actions {
      margin-top: 58px;
    }

    &__content {
      position: absolute;
      z-index: 1;
      margin: 0;
    }

    &__banner {
      position: relative;
      right: -105px;
      top: 0;
      width: 796px;
      height: 448px;
      margin-left: auto;
    }
  }
}
