.order {
  padding: 50px 15px;
  background-color: #f4f5f7;

  @include for-large-up {
    max-width: 1400px;
    max-height: 441px;
    padding: 73px 0 72px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__details {
    max-width: 505px;
  }
  &__illustration {
    max-width: 200px;
    margin-left: 45px;

    @include for-large-up {
      max-width: 269px;
      margin-right: 121px;
    }
  }
  &__title {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.25px;
    color: #2b292d;
    margin-top: 40px;
  }
  &__text {
    margin: 0;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 12px;
  }

  &__form {
    @include for-large-up {
      display: flex;
      margin-top: 26px;
    }
  }
  &__email {
    margin-top: 40px;
    height: 48px;
    width: 100%;
    background: #ffffff;
    border-radius: 2px;
    border: 1px solid #2b292d33;
    align-items: center;
    text-align: center;
    line-height: 13px;

    @include for-large-up {
      margin-top: 0;
    }

    &::placeholder {
      color: #2b292d;
    }
  }
  &__button {
    margin-top: 12px;

    @include for-large-down {
      width: 100%;
    }

    @include for-large-up {
      margin-top: 0;
      margin-left: 10px;
      flex-shrink: 0;
    }
  }
  &__terms {
    font-size: 14px;

    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: #2b292d99;
  }
  &__terms-link {
    color: #3142c6;
  }
}
